body{
  font-family: 'Roboto', sans-serif;
  color: #333;
}
html, body{
  /* height:100vh; */
}

img{
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;/*By setting this, web browser will actually honor our declared width values (including paddings)*/
}

a {
  color: $mainOrange;
}
